@model IEnumerable<MusicalInstrumentOnline.Models.Category>
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div>
    <h4>Category</h4>
    <hr />
   <table class="table">
     <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emagePath)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.categoryId)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                    <img src=@Url.Content("~/Home/img/" + item.emagePath) asp-append-version="true"
                     width="100" height="100" />
            </td>
            
            <td>
                <form asp-action="Edit">
                             <input type="submit" value="Edit" asp-action="Edit" class="btn btn-danger"  asp-route-categoryId=@item.categoryId/> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </td>
        </tr>
}
 </tbody>
</table>
</div>
